@import url('https://fonts.googleapis.com/css2?family=Anta&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: darkcyan;
}

.cards{
    padding: 10px;
    position: relative;
    height: 300px;
    width: 200px;
    margin: 0 10px;
}

.reset{
    width: 10%;
    height: 5%;
    overflow: auto;
    align-items: center;
    position: relative;
    border: 15px solid;
    padding: 10px;
    margin: auto;
}