/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/*To override default styles*/
*{
    box-sizing: border-box;
    font-family: "Anta", serif;
    margin: 0;
    padding: 0;
}

/*General styles*/
body{
    align-items: center;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 40px 60px;
    position: relative;
}

/*Heading of the game*/
.heading{
    color: #800000;
    font-size: 4em;
    letter-spacing: 0.1em;
}

/*Display game section*/
#game-area{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    height: 125px;
    margin: 0 10px;
    padding: 5px;
    position: relative;
    width: 90px;
}


/*Reset button*/
.reset{
    background-color: #800000;
    border: 2px solid #000;
    border-radius: 20px 20px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 1.5em;
    padding: 15px 20px;
}

.reset:focus{
    background-color: #fff;
    color: #800000;
}

/*Media query: landscape phones(576px and up)*/
@media screen and (min-width: 576px){
    /*Display game section*/
    #game-area{
        height: 80%;
        width: 80%;
    }
    
    .cards{
        height: 175px;
        width: 125px;
    }
}



/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px){
    /*Display game section*/
    .cards{
        height: 200px;
        width: 150px;
    }
}

/*Media query: Laptops and larger (768px and up)*/
@media screen and (min-width: 1024px){
    /*Display game section*/
    .cards{
        cursor: pointer;
        height: 300px;
        width: 200px;
    }

    /*Reset button*/
    .reset{
        cursor: pointer;
    }
}


